C:/Users/qtly_u/local/ViTPose-own/best_pt/base_coco/best_AP_epoch_209.pth filter=lfs diff=lfs merge=lfs -text
C:Usersqtly_ulocalViTPose-ownbest_ptbase_cocobest_AP_epoch_209.pth filter=lfs diff=lfs merge=lfs -text
